.item {
  background-color: white;
  padding: 0.5rem;
}

.grid-div {
  margin-top: 2rem;
  padding: 0;
  display: grid;
  grid-template-areas: "item1 item2 item3" "item4 item2 item5" "item4 item2 item6";
  grid-gap: 1rem;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    height: 25rem;
    width: 25rem;
    margin: 0 auto;
    border-radius: 50%;
  }
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    height: 10rem;
    max-width: 10rem;
    margin: 0 auto;
  }
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
