/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 28px;
  background-color: #3a4a4f;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.sec-padding {
  padding: 4rem 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 1rem;
}

strong {
  font-size: 1.2rem;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--pri);
  text-shadow: 1px 1px 3px black;
}

strong span {
  color: black;
  margin-left: 0.5rem;
}

h1 {
  font-weight: 800;
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 900;
  text-shadow: 1px 1px 2px black;
}

h3 {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.7;
  text-shadow: 1px 1px 1px black;
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
}

h5 {
  font-size: 1.4rem;
  font-weight: 700;
}

h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: 1px solid var(--pri);
  color: var(--pri);
}

.btn-pri {
  background-color: var(--pri);
  color: white;
  border: none;
}

.p-sec-head {
  font-size: 1rem;
  color: var(--text-gray);
}

p {
  font-size: 0.8rem;
  color: rgba(102, 101, 101, 0.823);
  margin: 1.5rem 0;
  line-height: 1.6;
}

.flexi-img {
  height: 100%;
  width: 100%;
}

.flexib-img {
  width: 100%;
}

.color-pri {
  color: var(--pri);
}

span {
  font-size: 1rem;
  font-weight: 700;
  color: #fc2e1b;
}

.display-none {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jsa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header {
  background-color: white;
  padding: 1rem 0;
  margin-top: 1rem;
  border-top: 3px solid #0095be;
}

.header a {
  color: #0095be;
  font-weight: 700;
}

.item {
  background-color: white;
  padding: 0.5rem;
}

.grid-div {
  margin-top: 2rem;
  padding: 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item1 item2 item3" "item4 item2 item5" "item4 item2 item6";
  grid-gap: 1rem;
}

.item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item1;
}

.item2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: item2;
}

.item2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item2 img {
  height: 25rem;
  width: 25rem;
  margin: 0 auto;
  border-radius: 50%;
}

.item3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item3;
}

.item4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: item4;
}

.item4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item4 img {
  height: 10rem;
  max-width: 10rem;
  margin: 0 auto;
}

.item5 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item5;
}

.item6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: item6;
}

@media all and (max-width: 768px) {
  .grid-div {
        grid-template-areas: "item1 item3" "item4 item5" "item4 item6" "item2 ." "item2 .";
  }
}

@media all and (max-width: 370px) {
  .grid-div {
        grid-template-areas: "item1" "item4" "item4" "item2" "item2" "item2" "item2" "item3" "item5" "item6";
  }
}
/*# sourceMappingURL=style.css.map */