@media all and (max-width: 400px) {
  body {
    font-size: 10px;
  }
  .container {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 10px;
  }
  header {
    strong {
      margin-left: 0;
    }
    nav {
      display: none;
    }
  }
  .item {
    grid-column-start: 0;
    grid-column-end: 4;
    width: 100%;
  }
  iframe {
    height: 100%;
    width: 100%;
  }
}
.ham-div {
  i {
    display: block;
  }
}
